In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
test = pd.read_csv('C:/Users/adith/Desktop/Datasets/emnist-letters-test.csv')
train = pd.read_csv('C:/Users/adith/Desktop/Datasets/emnist-letters-train.csv')
train.head()

,23,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.406,0.407,0.408,0.409,0.410,0.411,0.412,0.413,0.414,0.415
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
y1 = np.array(train.iloc[:,0].values)
x1 = np.array(train.iloc[:,1:].values)/255
y2 = np.array(test.iloc[:,0].values)
x2 = np.array(test.iloc[:,1:].values)/255
print(y1.shape)
print(x1.shape)
print(y2.shape)
print(x2.shape)
m = 88799

(88799,)
(88799, 784)
(14799,)
(14799, 784)

In [18]:
def update_assignments(data, centroids):
    c = []
    for i in data:
        c.append(np.argmin(np.sum((i.reshape((1, 784)) - centroids) ** 2, axis=1)))
    return c

In [19]:
def update_centroids(data, num_clusters, assignments):
    cen = []
    for c in range(len(num_clusters)):
        cen.append(np.mean([data[x] for x in range(len(data)) if assignments[x] == c], axis=0))
    return cen

In [23]:
centroids = (np.random.normal(size=(5, 784)) * 0.0001) + np.mean(x1, axis=0).reshape((1, 784))

In [26]:
for i in range(100):
    a = update_assignments(x1, centroids)
    centroids = update_centroids(x1, centroids, a)
    centroids = np.array(centroids)